
#content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    position: absolute;
    top: 350;   
    left: 400; 
}

#container{
    display: grid;
    height: 500px;
    width: 500px;
    grid-gap: 0px;
    border: 1px solid black;
    grid-template-rows: repeat(var(--grid_rows), 1fr);
    grid-template-columns: repeat(var(--grid_col), 1fr);
    margin: 200px;
    position: relative;
    
}

.grid-item{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
}