body{
    background-color: beige;
}

button{
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 100;
  justify-content: center;
  cursor: pointer;
}

input{
    cursor: pointer;
}

#picker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 90px;
    height: 90px;
    border: none;
  }
  #picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
  }
  #picker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
  }

#title{
    position: absolute;
    top: 25px; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 475px;
    font-size: 80px;
    font-weight: 600px;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#size{
    margin: 0px;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 65px;
    top: 250px;   
    left: 400px; 
}

.subContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 36px;
}

#gridContainer{
    display: grid;
    height: 500px;
    width: 500px;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid_rows), 1fr);
    grid-template-columns: repeat(var(--grid_col), 1fr);
    margin: 200px;
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 30px -20px black;
    
}

.grid-item{
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
}